* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, p, span, a {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

body {
  background-color: #3186a7;
  height: 100%;
  width: 100%;
}

.wrapper {
  background: #3186a7 url('images/bg.jpg') no-repeat left top;
  height: 700px;
  margin: 0 auto;
  position: relative;
  width: 1024px;
  z-index: 10;
}

.wrapper section {
  height: auto;
  width: 1024px;
  float: left;
}

div.slide {
  height: 700px;
  position: relative;
  width: 1024px;
}

div.item {
  display: block;
  position: absolute;
  z-index: 7;
}

/*SLIDERS CON GRADIENTE*/

#sld2, #sld4, #sld6, #sld9 {
  background: #e35344;
  background: -moz-linear-gradient(left, #e35344 0%, #f57b20 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#e35344), color-stop(100%,#f57b20));
  background: -webkit-linear-gradient(left, #e35344 0%, #f57b20 100%);
  background: -o-linear-gradient(left, #e35344 0%, #f57b20 100%);
  background: -ms-linear-gradient(left, #e35344 0%, #f57b20 100%);
  background: linear-gradient(to right, #e35344 0%, #f57b20 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e35344', endColorstr='#f57b20',GradientType=1 );
}

#sld2 h1, #sld4 h1, #sld6 h1, #sld9 h1 {
  font-size: 65px;
  display: block;
  margin: 0px auto;
  padding: 250px 0 0;
  text-align: center;
  width: 60%;
}

#sld4 h1 {
  width: 75%;  
}

#sld6 h1 {
  width: 55%;  
}

.active h1 {
  -webkit-transition: padding-top 1s ease-in-out 0s;
}

/*FLAGS*/

h2 {
  background: #faa637;
  background: -moz-linear-gradient(left, #f17524 0%, #faa637 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f17524), color-stop(100%,#faa637));
  background: -webkit-linear-gradient(left, #f17524 0%, #faa637 100%);
  background: -o-linear-gradient(left, #f17524 0%, #faa637 100%);
  background: -ms-linear-gradient(left, #f17524 0%, #faa637 100%);
  background: linear-gradient(to right, #f17524 0%, #faa637 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f17524', endColorstr='#faa637',GradientType=1 );
  display: block;
  float: left;
  font-size: 28px;
  line-height: 55px;
  height: 61px;
  margin-top: 30px;
  padding: 0 30px;
  width: auto;
}

h2::after {
  background: url('images/flag-end.png') no-repeat 0 0;
  content: ' ';
  display: block;
  height: 61px;
  width: 22px;
  float: right;
  margin: 0px -52px 0 0;
}

.active h2 {
  -webkit-transition: width 2s ease 0s;
}

/*SLIDE 1*/

div.center {
  top: 50%;
  left: 50%;
  opacity: 0;
}

#sld1.active div.center {
  -webkit-transition: top 1s, left 1s, opacity 0s;
  opacity: 1;
}

#sld1.active #ribbon-top {
  background: url('images/ribbon-top.png') no-repeat left top;
  height: 104px;
  margin: 0 auto;
  width: 877px;
  z-index: 8;
  top: 85px;
  left: 85px;
  -webkit-transition: top 1s ease-in-out 0s;
}

#sld1.active #ribbon-bottom {
  background: url('images/ribbon-bottom.png') no-repeat left top;
  height: 91px;
  margin: 0 auto;
  width: 948px;
  z-index: 8;
  bottom: 90px;
  left: 40px;
  -webkit-transition: bottom 1s ease-in-out 0s;
}

#sld1 #itm1 {
  background: url('images/itm-1.png') no-repeat left top;
  height: 84px;
  width: 66px;
  -webkit-transform: rotate(205deg);
  z-index: 9;
}

#sld1.active #itm1 {
  top: 25px;
  left: 780px;
}

#sld1 #itm2 {
  background: url('images/itm-2.png') no-repeat left top;
  height: 94px;
  width: 103px;
}

#sld1.active #itm2 {
  top: 170px;
  left: 440px;
}

#sld1 #itm3 {
  background: url('images/itm-3.png') no-repeat left top;
  height: 49px;
  width: 42px;
}

#sld1.active #itm3 {
 left: 533px;
 top: 599px;
 z-index: 9; 
}

#sld1 #itm4 {
  background: url('images/musica.png') no-repeat left top;
  height: 137px;
  width: 116px;
  -webkit-transform: rotate(120deg);
}

#sld1.active #itm4 {
  top: 540px;
  left: 284px;
  z-index: 9;
} 

#sld1 #itm5 {
  background: url('images/itm-5.png') no-repeat left top;
  height: 65px;
  width: 51px;
}

#sld1.active #itm5 {
  top: 557px;
  left: 470px;
  z-index: 9;
}

#sld1 #itm6 {
  background: url('images/itm-6.png') no-repeat left top;
  height: 50px;
  width: 40px;
  -webkit-transform: rotate(-20deg);
  z-index: 9;
}

#sld1.active #itm6 {
  top: 50px;
  left: 195px;  
}

#sld1 #itm7 {
  background: url('images/itm-7.png') no-repeat left top;
  height: 34px;
  width: 35px;
}

#sld1.active #itm7 {
  top: 180px;
  left: 350px;
}

#sld1 #itm8 {
  background: url('images/itm-8.png') no-repeat left top;
  height: 77px;
  width: 57px;
  z-index: 9;
}

#sld1.active #itm8 {
  top: 580px;
  -webkit-transform: rotate(-30deg);
  left: 680px;
}

#sld1 #itm9 {
  background: url('images/itm-9.png') no-repeat left top;
  height: 77px;
  width: 22px;
  z-index: 9;
}

#sld1.active #itm9 {
  left: 895px;
  top: 130px;
  -webkit-transform: rotate(-140deg);
}

#sld1 #itm10 {
  background: url('images/itm-10.png') no-repeat left top;
  height: 70px;
  width: 17px;
  -webkit-transform: rotate(-40deg);
  z-index: 9;
}

#sld1.active #itm10 {
  left: 850px;
  top: 514px;
}

#sld1 #itm11 {
  background: url('images/itm-11.png') no-repeat left top;
  height: 36px;
  width: 91px;
  -webkit-transform: rotate(-20deg);
}

#sld1.active #itm11 {
  left: 841px;
  top: 294px;
}

#sld1 #itm12 {
  background: url('images/itm-12.png') no-repeat left top;
  height: 59px;
  width: 95px;
  -webkit-transform: rotate(-200deg);
}

#sld1.active #itm12 {
  left: 30px;
  top: 305px;  
}

#sld1 #itm13 {
  background: url('images/itm-13.png') no-repeat left top;
  height: 23px;
  width: 67px;
  -webkit-transform: rotate(70deg);
  z-index: 9;
}

#sld1.active #itm13 {
  left: 590px;
  top: 580px;
}

#sld1 #itm14 {
  background: url('images/itm-14.png') no-repeat left top;
  height: 16px;
  width: 15px;
}

#sld1.active #itm14 {
  left: 650px;
  top: 470px;
}

#sld1 #itm15 {
  background: url('images/itm-15.png') no-repeat left top;
  height: 24px;
  width: 24px;
}

#sld1.active #itm15 {
  left: 825px;
  top: 255px;
}

#sld1 #itm16 {
  background: url('images/itm-16.png') no-repeat left top;
  height: 24px;
  width: 67px;
  -webkit-transform: rotate(70deg);
  z-index: 9;
}

#sld1.active #itm16 {
  top: 30px;
  left: 295px;
}

#sld1 #itm17 {
  background: url('images/itm-17.png') no-repeat left top;
  height: 49px;
  width: 106px;
  -webkit-transform: rotate(260deg);
}

#sld1.active #itm17 {
  left: 383px;
  top: 580px;
}

#sld1 #itm18 {
  background: url('images/itm-18.png') no-repeat left top;
  height: 48px;
  width: 27px;
  -webkit-transform: rotate(10deg);
}

#sld1.active #itm18 {
  left: 440px;
  top: 477px;
}

#sld1 #itm19 {
  background: url('images/itm-19.png') no-repeat left top;
  height: 30px;
  width: 18px;
  -webkit-transform: rotate(40deg);
}

#sld1.active #itm19 {
  left: 577px;
  top:  195px;
}

#sld1 #itm20 {
  background: url('images/itm-20.png') no-repeat left top;
  height: 25px;
  width: 69px;
  -webkit-transform: rotate(25deg);
}

#sld1.active #itm20{
  top: 272px;
  left: 132px;
}

#sld1 #itm21 {
  background: url('images/itm-21.png') no-repeat left top;
  height: 21px;
  width: 34px;
  -webkit-transform: rotate(60deg);
}

#sld1.active #itm21 {
  left: 776px;
  top: 300px;
}

#sld1 #itm22 {
  background: url('images/itm-22.png') no-repeat left top;
  height: 69px;
  width: 21px;
  -webkit-transform: rotate(-95deg);
}

#sld1.active #itm22 {
  left: 100px;
  top: 400px;
}

#sld1 #itm23 {
  background: url('images/itm-23.png') no-repeat left top;
  height: 161px;
  width: 72px;
  -webkit-transform: rotate(110deg);
}

#sld1.active #itm23 {
  left: 825px;
  top: 350px;
}

#sld1 #itm24 {
  background: url('images/itm-24.png') no-repeat left top;
  height: 216px;
  width: 85px;
  -webkit-transform: rotate(200deg);
}

#sld1.active #itm24 {
  left: 628px;
  top: 115px;
}

#sld1 #itm25 {
  background: url('images/itm-25.png') no-repeat left top;
  height: 222px;
  width: 84px;
  -webkit-transform: rotate(70deg);
}

#sld1.active #itm25 {
  top: 380px;
  left: 130px;
}

#sld1 #itm26 {
  background: url('images/itm-26.png') no-repeat left top;
  height: 80px;
  width: 101px;
}

#sld1.active #itm26 {
  left: 745px;
  top: 175px;
  -webkit-transform: rotate(-50deg);
  z-index: 9;
}

#sld1 #itm27 {
  background: url('images/itm-27.png') no-repeat left top;
  height: 97px;
  width: 99px;
  z-index: 9;
}

#sld1.active #itm27 {
  left: 170px;
  top: 175px;
}

#sld1 #itm28 {
  background: url('images/itm-28.png') no-repeat left top;
  height: 71px;
  width: 25px;
  -webkit-transform: rotate(10deg);
}

#sld1.active #itm28 {
  left: 555px;
  top: 20px;
}

#sld1 #itm29 {
  background: url('images/sexo.png') no-repeat left top;
  background-size: 80px auto;
  height: 103px;
  width: 80px;
  -webkit-transform: rotate(-40deg);
}

#sld1.active #itm29 {
  left: 900px;
  top: 340px;
}

#sld1 #itm30 {
  background: url('images/itm-30.png') no-repeat left top;
  height: 76px;
  width: 65px;
  -webkit-transform: rotate(-180deg);
  z-index: 9;
}

#sld1.active #itm30 {
  left: 405px;
  top: 25px;
}

#sld1 #itm31 {
  background: url('images/itm-31.png') no-repeat left top;
  height: 23px;
  width: 51px;
  -webkit-transform: rotate(60deg);
  z-index: 9;
}

#sld1.active #itm31 {
  left: 725px;
  top: 525px;
}

/*SLIDE 3*/

#sld3 > p {
  display: block;
  float: left;
  font-size: 26px;
  line-height: 30px;
  margin: 25px 0 0 30px;
  width: 480px;
}

#sld3 > p span {
  font-size: 34px;
  text-align: justify;
}

#sld3 #dude {
  background: url('images/dude1.png') no-repeat left top;
  width: 365px;
  height: 478px;
  left: 20px;
  top: 222px;
}

#sld3 #dude #move {
  animation: abrir 3s ease 0s infinite alternate;
  -webkit-animation: abrir 3s ease 0s infinite alternate;
  -moz-animation: abrir 3s ease 0s infinite alternate;
  -o-animation: abrir 3s ease 0s infinite alternate;
  -ms-animation: abrir 3s ease 0s infinite alternate;
  background: url('images/quijada.png') no-repeat left top;
  width: 70px;
  height: 41px;
  left: 98px;
  top: 103px;
}

#sld3 #num1 {
  background: url('images/num1.png') no-repeat left top;
  z-index: 6;
  left: 683px;
  top: 363px;
  width: 200px;
  height: 218px;
  
}

#sld3 #num2 {
  background: url('images/num2.png') no-repeat left top;
  width: 167px;
  height: 175px;
  left: 577px;
  top: 194px;
}

#sld3 #num3 {
  background: url('images/num3.png') no-repeat left top;
  width: 137px;
  height: 164px;
  left: 457px;
  top: 352px;
}

#sld3 #num4 {
  background: url('images/num4.png') no-repeat left top;
  width: 125px;
  height: 132px;
  left: 400px;
  top: 210px;
}

#sld3 #num5 {
  background: url('images/num5.png') no-repeat left top;
  width: 84px;
  height: 91px;
  top: 345px;
  left: 345px;
}

#sld3 #num6 {
  background: url('images/num6.png') no-repeat left top;
  width: 72px;
  height: 70px;
  top: 270px;
  left: 270px;
}

#sld3 #num7 {
  background: url('images/num7.png') no-repeat left top;
  width: 68px;
  height: 59px;
  top: 340px;
  left: 200px;
}

#sld3 #boombar, #sld5 #boombar {
  background: url('images/boom-bar.png') no-repeat left top;
  width: 285px;
  height: 600px;
  top: 50px;
  left: 715px;
  z-index: 5;
}

/*SLIDE 5*/

#sld5 #cmt2, #sld5 #cmt3, #sld5 #cmt4, #sld5 #cmt5 {
  height: 78px;
  width: 480px;
  z-index: 6;
}

#sld5 #cmt1 {
  background: url('images/cmt1.png') no-repeat left top;
  width: 481px;
  height: 134px;
  top: 129px;
  left: 47px;
  z-index: 6;
}

#sld5 #cmt2 {
  background: url('images/cmt2.png') no-repeat left top;
  top: 270px;
  left: 183px;
}

#sld5 #cmt3 {
  background: url('images/cmt3.png') no-repeat left top;
  top: 363px;
  left: 33px;
}

#sld5 #cmt4 {
  background: url('images/cmt4.png') no-repeat left top;
  top: 460px;
  left: 200px;
}

#sld5 #cmt5 {
  background: url('images/cmt5.png') no-repeat left top;
  top: 573px;
  left: 33px;
}

#sld5 #blah1 {
  background: url('images/blah1.png') no-repeat left top;
  top: 100px;
  left: 479px;
  height: 109px;
  width: 220px;
}

#sld5 #blah2 {
  background: url('images/blah2.png') no-repeat left top;
  top: 248px;
  left: 585px;
  height: 63px;
  width: 176px;
}

#sld5 #blah3 {
  background: url('images/blah3.png') no-repeat left top;
  top: 316px;
  left: 346px;
  height: 94px;
  width: 165px;
}

#sld5 #blah4 {
  background: url('images/blah4.png') no-repeat left top;
  top: 230px;
  left: 30px;
  height: 120px;
  width: 181px;
}

#sld5 #blah5 {
  background: url('images/blah5.png') no-repeat left top;
  top: 456px;
  left: 30px;
  height: 109px;
  width: 212px;
}

#sld5 #blah6 {
  background: url('images/blah6.png') no-repeat left top;
  top: 403px;
  left: 575px;
  height: 91px;
  width: 157px;
}

#sld5 #blah7 {
  background: url('images/blah7.png') no-repeat left top;
  top: 535px;
  left: 471px;
  height: 97px;
  width: 221px;
}

/*SLIDE 7*/

#sld7 #dude {
  background: url('images/dude2.png') no-repeat left top;
  width: 265px;
  height: 493px;
  left: 450px;
  top: 116px;
  z-index: 8;
}

#sld7 #move {
  background: url('images/brazo.png') no-repeat left top;
  width: 135px;
  height: 186px;
  left: 393px;
  top: 105px;
  z-index: 7;
  transform:rotate(0deg);
  -ms-transform:rotate(0deg); /* IE 9 */
  -moz-transform:rotate(0deg); /* Firefox */
  -webkit-transform:rotate(0deg); /* Safari and Chrome */
  -webkit-transform-origin: right bottom;
  -o-transform:rotate(0deg); /* Opera */
}

#sld7 #tv {
  background: url('images/tv.png') no-repeat left top;
  width: 235px;
  height: 157px;
  left: 75px;
  top: 157px;
}

#sld7 #tv div {
  background: url('images/7-tv.png') no-repeat left top;
  width: 89px;
  height: 84px;
  left: 70px;
  top: 20px;
}

#sld7 #imac1 {
  background: url('images/imac1.png') no-repeat left top;
  width: 286px;
  height: 229px;
  top: 68px;
  left: 596px;
}
 
#sld7 #imac1 div {
  background: url('images/7-imac1.png') no-repeat left top;
  width: 72px;
  height: 90px;
  top: 17px;
  left: 70px;
}

#sld7 #imac2 {
  background: url('images/imac2.png') no-repeat left top;
  width: 241px;
  height: 198px;
  left: 78px;
  top: 348px;
}

#sld7 #ipad {
  background: url('images/ipad.png') no-repeat left top;
  width: 110px;
  height: 138px;
  left: 778px;
  top: 300px;
}

#sld7 #iphone {
  background: url('images/iphone.png') no-repeat left top;
  width: 174px;
  height: 97px;
  left: 606px;
  top: 453px;
}

#sld7 #smartphone {
  background: url('images/smartphone.png') no-repeat left top;
  width: 135px;
  height: 80px;
  left: 834px;
  top: 483px;
}

#sld7 #tablet {
  background: url('images/tablet.png') no-repeat left top;
  width: 129px;
  height: 66px;
  left: 250px;
  top: 595px;
}

#sld7 div.lightup {
  background: url('images/circle.png') no-repeat left top;
  z-index: 5;
}

#sld7 #hand {
  left: 376px;
  top: 98px;
  height: 90px;
  width: 90px;
  background-size: 90px auto;
  z-index: 10;
}

#sld7 #tv-lup {
  left: 93px;
  top: 125px;
  height: 200px;
  width: 200px;
  background-size: 200px auto;
}

#sld7 #imac1-lup {
  left: 600px;
  top: 57px;
  height: 236px;
  width: 236px;
}

#sld7 #imac2-lup {
  left: 62px;
  top: 340px;
  height: 220px;
  width: 220px;
  background-size: 220px auto;
}

#sld7 #ipad-lup {
  left: 772px;
  top: 300px;
  height: 125px;
  width: 125px;
  background-size: 125px auto;
}

#sld7 #iphone-lup {
  left: 613px;
  top: 420px;
  height: 160px;
  width: 160px;
  background-size: 160px auto;
}

#sld7 #tablet-lup {
  left: 257px;
  top: 570px;
  height: 115px;
  width: 115px;
  background-size: 115px auto;
}

#sld7 #smartphone-lup {
  left: 832px;
  top: 448px;
  height: 140px;
  width: 140px;
  background-size: 140px auto;
}

#sld7 div.line {
  background-color: #697328;
  height: 20px;
  z-index: 4;
}

#sld7 #tv-line {
  width: 110px;
  right: 635px;
  top: 144px;
  transform:rotate(-30deg);
  -ms-transform:rotate(-30deg); /* IE 9 */
  -moz-transform:rotate(-30deg); /* Firefox */
  -webkit-transform:rotate(-30deg); /* Safari and Chrome */
  -webkit-transform-origin: right bottom;
  -o-transform:rotate(-30deg); /* Opera */ 
}

#sld7 #imac2-line {
  width: 250px;
  right: 622px;
  top: 160px;
  transform:rotate(-56deg);
  -ms-transform:rotate(-56deg); /* IE 9 */
  -moz-transform:rotate(-56deg); /* Firefox */
  -webkit-transform:rotate(-56deg); /* Safari and Chrome */
  -webkit-transform-origin: right bottom;
  -o-transform:rotate(-56deg); /* Opera */ 
}

#sld7 #tablet-line {
  width: 400px;
  right: 600px;
  top: 165px;
  transform:rotate(-77deg);
  -ms-transform:rotate(-77deg); /* IE 9 */
  -moz-transform:rotate(-77deg); /* Firefox */
  -webkit-transform:rotate(-77deg); /* Safari and Chrome */
  -webkit-transform-origin: right bottom;
  -o-transform:rotate(-77deg); /* Opera */ 
}

#sld7 #iphone-line {
  width: 354px;
  right: 564px;
  top: 145px;
  transform:rotate(-125deg);
  -ms-transform:rotate(-125deg); /* IE 9 */
  -moz-transform:rotate(-125deg); /* Firefox */
  -webkit-transform:rotate(-125deg); /* Safari and Chrome */
  -webkit-transform-origin: right bottom;
  -o-transform:rotate(-125deg); /* Opera */ 
}

#sld7 #smartphone-line {
  width: 505px;
  right: 560px;
  top: 135px;
  transform:rotate(-140deg);
  -ms-transform:rotate(-140deg); /* IE 9 */
  -moz-transform:rotate(-140deg); /* Firefox */
  -webkit-transform:rotate(-140deg); /* Safari and Chrome */
  -webkit-transform-origin: right bottom;
  -o-transform:rotate(-140deg); /* Opera */ 
}

#sld7 #ipad-line {
  width: 372px;
  right: 560px;
  top: 127px;
  transform:rotate(-150deg);
  -ms-transform:rotate(-150deg); /* IE 9 */
  -moz-transform:rotate(-150deg); /* Firefox */
  -webkit-transform:rotate(-150deg); /* Safari and Chrome */
  -webkit-transform-origin: right bottom;
  -o-transform:rotate(-150deg); /* Opera */ 
}

#sld7 #imac1-line {
  width: 150px;
  right: 562px;
  top: 105px;
  transform:rotate(-180deg);
  -ms-transform:rotate(-180deg); /* IE 9 */
  -moz-transform:rotate(-180deg); /* Firefox */
  -webkit-transform:rotate(-180deg); /* Safari and Chrome */
  -webkit-transform-origin: right bottom;
  -o-transform:rotate(-180deg); /* Opera */ 
}

/*SLIDE 8*/

#sld8 {
  overflow: hidden;
}

div .bg {
  z-index: 8;
  height: 100%;
  width: 100%; 
}

div h4.flag {
  height: 32px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 2px;
  font-size: 20px;
}

div h4.flag:after, div h4.flag:before {
  position: absolute;
  background-image: url('images/flags.png');
  background-repeat: no-repeat;
  content: ' ';
  display: block;
}

#sexo h4.flag:after, #tech h4.flag:after, #musica h4.flag:after, #deportes h4.flag:after {
  top: 0;
  right: -10px;
  height: 32px;
  width: 10px;
}

#humor h4.flag:before, #comida h4.flag:before, #cine h4.flag:before{
  top: 0;
  left: -10px;
  height: 32px;
  width: 10px;
}

#sld8 #humor {
  height: 115px;
  width: 270px;
  top: 45px;
  left: 260px;
}

#sld8 #cine {
  height: 160px;
  width: 325px;
  left: 0px;
  top: 207px;
}

#sld8 #tech {
  height: 229px;
  width: 350px;
  left: 650px;
  top: 45px;
}

#sld8 #comida {
  height: 100px;
  width: 270px;
  left: 65px;
  top: 435px;
}

#sld8 #sexo {
  height: 105px;
  width: 220px;
  left: 470px;
  top: 570px;
}

#sld8 #musica {
  height: 137px;
  width: 270px;
  left: 740px;
  top: 290px;
}

#sld8 #deportes {
  height: 101px;
  width: 270px;
  left: 670px;
  top: 490px;
}

#sld8 #humor .bg {
  background: url('images/humor.png') no-repeat right top;
}

#sld8 #cine .bg {
  background: url('images/tv.png') no-repeat right top;
  background-size: 194px auto;
}

#sld8 #tech .bg {
  background: url('images/imac1.png') no-repeat left top;
  background-size: 228px auto;
}

#sld8 #comida .bg {
  background: url('images/comida.png') no-repeat right top;
}

#sld8 #sexo .bg {
  background: url('images/sexo.png') no-repeat left top;
  background-size: 92px auto;
}

#sld8 #musica .bg {
  background: url('images/musica.png') no-repeat left top;
  background-size: 110px auto;
}

#sld8 #deportes .bg {
  background: url('images/deportes.png') no-repeat left top;
}

#sld8 #tech h4.flag {
  background: #8555ce;
  background: -moz-linear-gradient(left, #532f88 0%, #8555ce 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #532f88), color-stop(100%, #8655ce));
  background: -webkit-linear-gradient(left, #532f88 0%, #8655ce 100%);
  background: -o-linear-gradient(left, #532f88 0%, #8655ce 100%);
  background: -ms-linear-gradient(left, #532f88 0%, #8655ce 100%);
  background: linear-gradient(to right, #532f88 0%, #8655ce 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#532f88', endColorstr='#8655ce',GradientType=1 );
  width: 180px;
  text-align: right;
  padding-right: 10px;
  top: 65px;
  left: 135px;
}

#sld8 #sexo h4.flag {
  background: #fb46a6;
  background: -moz-linear-gradient(left, #c71a76 0%, #fb46a6 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#c71a76), color-stop(100%,#fb46a6));
  background: -webkit-linear-gradient(left, #c71a76 0%, #fb46a6 100%);
  background: -o-linear-gradient(left, #c71a76 0%, #fb46a6 100%);
  background: -ms-linear-gradient(left, #c71a76 0%, #fb46a6 100%);
  background: linear-gradient(to right, #c71a76 0%, #fb46a6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c71a76', endColorstr='#fb46a6',GradientType=1 );
  left: 15px;
  top: 50px;
  width: 149px;
  text-align: right;
  padding-right: 10px;
}

#sld8 #musica h4.flag {
  background: #f16c43;
  background: -moz-linear-gradient(left, #ac2c05 0%, #f16c43 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ac2c05), color-stop(100%,#f16c43));
  background: -webkit-linear-gradient(left, #ac2c05 0%,#f16c43 100%);
  background: -o-linear-gradient(left, #ac2c05 0%,#f16c43 100%);
  background: -ms-linear-gradient(left, #ac2c05 0%,#f16c43 100%);
  background: linear-gradient(to right, #ac2c05 0%,#f16c43 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ac2c05', endColorstr='#f16c43',GradientType=1 );
  top: 75px;
  width: 150px;
  left: 60px;
  text-align: right;
  padding-right: 10px;
}

#sld8 #deportes h4.flag {
  background: #72c460;
  background: -moz-linear-gradient(left, #4e8f3f 0%, #72c460 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#4e8f3f), color-stop(100%,#72c460));
  background: -webkit-linear-gradient(left, #4e8f3f 0%,#72c460 100%);
  background: -o-linear-gradient(left, #4e8f3f 0%,#72c460 100%);
  background: -ms-linear-gradient(left, #4e8f3f 0%,#72c460 100%);
  background: linear-gradient(to right, #4e8f3f 0%,#72c460 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e8f3f', endColorstr='#72c460',GradientType=1 );
  top: 25px;
  width: 150px;
  left: 80px;
  text-align: right;
  padding-right: 10px;
}

#sld8 #humor h4.flag {
  background: #2571fc;
  background: -moz-linear-gradient(left, #2571fc 0%, #1241a0100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#2571fc), color-stop(100%,#1241a0));
  background: -webkit-linear-gradient(left, #2571fc 0%,#1241a0 100%);
  background: -o-linear-gradient(left, #2571fc 0%,#1241a0 100%);
  background: -ms-linear-gradient(left, #2571fc 0%,#1241a0 100%);
  background: linear-gradient(to right, #2571fc 0%,#1241a0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2571fc', endColorstr='#1241a0',GradientType=1 );
  text-align: left;
  padding-left: 10px;
  top: 45px;
  width: 150px;
  left: 40px;
}

#sld8 #cine h4.flag {
  background: #ddcc0e;
  background: -moz-linear-gradient(left, #ddcc0e 0%, #a79b32 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ddcc0e), color-stop(100%,#a79b32));
  background: -webkit-linear-gradient(left, #ddcc0e 0%,#a79b32 100%);
  background: -o-linear-gradient(left, #ddcc0e 0%,#a79b32 100%);
  background: -ms-linear-gradient(left, #ddcc0e 0%,#a79b32 100%);
  background: linear-gradient(to right, #ddcc0e 0%,#a79b32 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ddcc0e', endColorstr='#a79b32',GradientType=1 );
  text-align: left;
  padding-left: 10px;
  top: 85px;
  width: 205px;
  left: 10px;
}

#sld8 #comida h4.flag {
  background: #e72b2b;
  background: -moz-linear-gradient(right, #591010 0%, #e72b2b 100%);
  background: -webkit-gradient(linear, right top, left top, color-stop(0%,#591010), color-stop(100%,#e72b2b));
  background: -webkit-linear-gradient(right, #591010 0%,#e72b2b 100%);
  background: -o-linear-gradient(right, #591010 0%,#e72b2b 100%);
  background: -ms-linear-gradient(right, #591010 0%,#e72b2b 100%);
  background: linear-gradient(to left, #591010 0%,#e72b2b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#591010', endColorstr='#e72b2b',GradientType=1 );
  text-align: left;
  padding-left: 10px;
  top: 45px;
  width: 150px;
  left: 40px;
}

#sld8 #tech h4.flag:after {
  background-position: 0 -36px;
}

#sld8 #musica h4.flag:after {
  background-position: 0 -72px;
}

#sld8 #deportes h4.flag:after {
  background-position: 0 -144px;  
}

#sld8 #humor h4.flag:before {
  background-position: 0 -216px;  
}

#sld8 #cine h4.flag:before {
  background-position: 0 -180px;  
}

#sld8 #comida h4.flag:before {
  background-position: 0 -109px;  
}

#sld8 #circle {
  background-color: #8d3e59;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#db3848), to(#8d3e59));
  background: -webkit-linear-gradient(top, #db3848, #8d3e59);
  background: -moz-linear-gradient(top, #db3848, #8d3e59);
  background: -ms-linear-gradient(top, #db3848, #8d3e59);
  background: -o-linear-gradient(top, #db3848, #8d3e59);
  border-radius: 50em;
  -webkit-border-radius: 50em;
  -moz-border-radius: 50em;
  height: 320px;
  width: 320px;
  position: relative;
  margin: 0 auto;
  top: 195px;
  z-index: 10;
}

#sld8 #circle p {
  display: block;
  position: relative;
  font-size: 24px;
  line-height: 20px;
  text-align: right;
}

#sld8 #circle p > strong {
  font-size: 28px;
}

#sld8 #circle p > span {
  font-weight: 400;
  font-size: 18px;  
}

#sld8 #circle p > span strong {
  font-weight: 800;
}

#sld8 #circle p:nth-child(1) {
  top: 75px;
  left: 55px;
  width: 32%;
}

#sld8 #circle p:nth-child(2) {
  top: 85px;
  left: 145px;
  width: 43%;
}

#sld8 #circle p:nth-child(3) {
  top: 110px;
  left: 50px;
  width: 50%;
}

#sld8 #triangle {
  background-image: url(images/triangulo.png);
  width: 77px;
  height: 90px;
  top: 467px;
  left: 400px;
}

#sld8 #circle.big {
  width: 1300px;
  height: 1300px;
  top: -36%;
  left: -14%;
  margin: 0;
}

/*SLIDE 9*/

#sld9 hgroup {
  display: block;
  margin: 0px auto;
  padding: 70px 0 0;
  text-align: center;
  width: 60%;
}

#sld9 hgroup h3 {
  font-size: 55px;
  line-height: 60px;
}

#sld9 hgroup h1 {
  padding: 0;
  width: 100%;
}

#sld9 #arrow {
  background: url('images/arrow.png') no-repeat left top;
  height: 64px;
  margin: 20px auto;
  position: relative;
  width: 44px;
}

#sld9 .btn {
  background-color: #313131;
  border: 3px solid #fff;
  border-radius: 15px;
  display: block;
  margin: 0 auto;
  position: relative;
  padding: 8px 0;
  width: 300px;
}

#sld9 a {
  background: -webkit-linear-gradient(top, #e35344 0%, #f57b20 100%);
  color: #e35344;
  display: block;
  font-size: 28px;
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
}

/*ANIMACIONES*/

@keyframes 'abrir' {
  from { transform:rotate(4deg); transform-origin: left bottom; }
  to { transform:rotate(20deg); transform-origin: left bottom; }
}
@-ms-keyframes 'abrir' {
  from { -ms-transform:rotate(4deg); -ms-transform-origin: left bottom; }
  to { -ms-transform:rotate(20deg); -ms-transform-origin: left bottom; }
}
@-webkit-keyframes 'abrir' {
  from { -webkit-transform:rotate(4deg); -webkit-transform-origin: left bottom; }
  to { -webkit-transform:rotate(20deg); -webkit-transform-origin: left bottom; }
}
@-moz-keyframes 'abrir' {
  from { -moz-transform:rotate(4deg); -moz-transform-origin: left bottom; }
  to { -moz-transform:rotate(20deg); -moz-transform-origin: left bottom; }
}
@-o-keyframes 'abrir' {
  from { -o-transform:rotate(4deg); -o-transform-origin: left bottom; }
  to { -o-transform:rotate(20deg); -o-transform-origin: left bottom; }
}

      