parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     3306
    database_name:     sevenboom
    database_user:     sevenboom
    database_password: sevenboom

    mailer_transport:  smtp
    mailer_host:       localhost
    mailer_user:       ~
    mailer_password:   ~

    locale:            es_LA
    secret:            d2658bb5196a82ca502e1ca2dcf49745b5fec314

    facebook_app_id:     349118228506488
    facebook_app_secret: 4ee0f31658d284d2c763b580b67fa2cf

    boom_widget_blocks:
      lower_sidebar: "Sidebar abajo"
      upper_sidebar: "Sidebar arriba"